:root {
  --color-primary: #1976d2;
  --color-accent: #FF4785;

  --background: #fff;
  --card-background: #ffffff;
  --card-text: #000;
}

.dark {
  --background: #000;
  --card-background: #0f0f0f;
  --card-text: #fff;
}